//Screen
$Dc: 1170px;
$Tb: 1024px;
$Mb: 580px;


//Colors
$clTitle: #000000;
$clSubName: #FFFFFF;
$clSubDate: #E0E0E0;
$clImgBgDef: linear-gradient(360deg, #241F24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);
$clIconBGHov: #E0E0E0;
$clIconBgDef: rgba(224, 224, 224, 0.5);



//Fonts:
$Title: 'Delius Unicase', cursive;
$Subtitle: 'Roboto', sans-serif;

//Font Size:
$fsTitle: 36px;
$fsSubtitle: 20px;

//Font Weight
$fwTitle: 400;
$fwSubName: 500;
$fwSubDate: 400;




