//Screen
$Dc: 1440px;



//Colors
$deepBlue: #212534;
$darkBlue: #2B3040;
$inactive: #8D91A3;
$text: #B7BACD;
$yellow: #FFDD3F;
$lightGreen: #13E28D;
$bgCoverColor: rgba(41, 45, 62, 0.8);
$white: white;

//Fonts:


//Font Size:


//Font Weight





