*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: $blue;
  .container {
    max-width: $lg;
    padding: 20px 0;
    margin: 0 auto;
    width: 90%;
    @include flex-between;

    &__link {
      padding: 12px 0;
      @include flex-between;

      .logo {
        margin-right: 35px;
        width: 119px;
        height: 35px;

        &__img {
          width: 100%;
          @include transition(0.3s);

          &-book {
            fill: #f5f8fc;
            @include transition(0.3s);
          }

          &-text {
            fill: #ffca42;
            @include transition(0.3s);
          }
        }

        &:hover .logo__img {
          @include scale(1.05);
        }
        &:hover .logo__img-book {
          fill: #ffca42;
        }
        &:hover .logo__img-text {
          fill: #f5f8fc;
        }
        &:focus .logo__img {
          @include scale(1.05);
        }
        &:focus .logo__img-book {
          fill: #ffca42;
        }
        &:focus .logo__img-text {
          fill: #f5f8fc;
        }
        &:active .logo__img {
          @include scale(1.05);
        }
        &:active .logo__img-book {
          fill: #ffca42;
        }
        &:active .logo__img-text {
          fill: #f5f8fc;
        }
      }
      .socials {
        @include flexStart;
        flex-wrap: wrap;

        &__item {
          min-width: 45px;
          min-height: 45px;
          @include flexCenter;
          background-color: $white;
          @include transition(0.3s);
          margin-right: 10px;

          &:hover {
            @include scale(1.05);
          }
          &:focus {
            @include scale(1.05);
          }
          &:active {
            @include scale(1.05);
          }
        }
      }
    }

    &__nav {
      @include flexCenter;
      flex-wrap: wrap;

      .menu {
        @include flex-between;
        width: 450px;
        padding: 23px 24px 20px;

        &__el {
          &-link {
            font-family: $textFont;
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 26px;
            letter-spacing: 0.17px;
            color: $navColor;

            &:hover {
              color: $Yellow;
            }
          }
          &:first-child .menu__el-link {
            color: $Yellow;
          }
        }
      }
    }
    .nav__basket {
      padding: 26px 15px;
      margin-right: 36px;

      &-link {
        &:hover .nav__basket-link__img--fill {
          fill: $Yellow;
        }
        &__img {
          &--fill {
            fill: $black;
            @include transition(0.3s);
          }
        }
      }
    }
    .nav__btn {
      font-family: $titleFont;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 28px;
      letter-spacing: 0.57px;
      text-transform: capitalize;
      color: $blue;
      background-color: $Yellow;
      border: 2px solid $Yellow;
      border-radius: 0px;
      padding: 18.5px 52px;
      @include transition(0.2s);

      &:hover {
        background-color: $blue;
        color: $Yellow;
      }
      &:active {
        @include scale(1.02);
      }
    }
  }
}
.main {
  width: 100%;

  &__welcome {
    width: 100%;
    background-color: $blue;

    .container {
      max-width: $lg;
      width: 90%;
      padding: 100px 0;
      margin: 0 auto;
      @include flex-between;

      &__text {
        margin-left: 23px;
        width: 45.3%;
        @include flex-left-column;

        &-hello {
          font-family: $titleFont;
          font-style: normal;
          font-weight: 400;
          font-size: 21px;
          line-height: 36px;
          letter-spacing: 1.2px;
          text-transform: capitalize;
          color: $white;
          @include flexStart;
          flex-wrap: nowrap;

          &::before {
            content: "";
            width: 35px;
            height: 2px;
            background: url("../img/UI/line.png");
            display: block;
            margin-right: 14px;
          }
        }
        &-title {
          @include flex-left-column;
          padding-bottom: 20px;
          margin: 10px 0;
          &__text {
            font-family: $titleFont;
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 122%;
            letter-spacing: 1.3px;
            color: $white;
            margin-bottom: 24px;
          }
          &__subtitle {
            font-family: $textFont;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 158%;
            color: $lightBlue;
          }
        }
        .button {
          padding: 12px 0;
          margin-bottom: 37px;
          &__order {
            font-family: $titleFont;
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 28px;
            letter-spacing: 0.57px;
            text-transform: capitalize;
            color: $blue;
            background-color: $Yellow;
            border: 2px solid $Yellow;
            border-radius: 0px;
            padding: 18.5px 52px;
            @include transition(0.2s);
            display: inline-block;
            margin-right: 51px;
            width: 222px;
            height: 66px;

            &:hover {
              background-color: $blue;
              color: $Yellow;
            }
            &:active {
              @include scale(1.02);
            }
          }
          &__demo {
            display: inline-block;
            height: 31px;
            font-family: $titleFont;
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 31px;
            letter-spacing: 0.38px;
            text-transform: capitalize;
            color: $white;
            border-bottom: 1px solid $white;
          }
        }
        .info {
          @include flexStart;

          &__box {
            margin-right: 60px;
            display: inline-flex;

            &:last-child {
              margin-right: 0;
            }
            &-title {
              @include flexStart;
              font-family: $titleFont;
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 120%;
              letter-spacing: 0.48px;
              color: $white;
              margin-bottom: 12px;
              &::before {
                content: "";
                background: url("../img/UI/circle.png");
                height: 16px;
                width: 16px;
                line-height: 120%;
                display: inline-block;
                margin-right: 10px;
                bottom: 0;
              }
            }
            &-subtitle {
              font-family: $textFont;
              font-style: normal;
              font-weight: 400;
              font-size: 17px;
              line-height: 159%;
              color: $lightBlue;
              padding-left: 26px;
            }
          }
        }
      }

      &__img {
        margin-right: 21px;
        width: 45.68%;
        max-height: 800px;
        filter: drop-shadow(-1px 2px 11px rgba(0, 0, 0, 0.2));

        &-poster {
          max-width: 100%;
        }
      }
    }
  }
  &__authorBook {
    width: 100%;
    background-color: $whiteBg;
    .container {
      padding: 130px 0 90px;
      @include flex-center-column;
      max-width: $lg;
      width: 90%;
      margin: 0 auto;

      &__title {
        font-family: $titleFont;
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 120%;
        text-align: center;
        text-transform: capitalize;
        color: $blue;
        @include flex-center-column;

        &::after {
          content: "";
          width: 50px;
          height: 3px;
          background: url("../img/UI/line.png");
          display: block;
          margin: 23px 0 10px;
        }
      }
      .store {
        width: 100%;
        @include flex-between;
        flex-wrap: wrap;
        padding: 60px 10px;

        &__item {
          @include flex-between;
          width: 630px;

          &-poster {
            max-width: 45.97%;
            min-width: 285px;
            filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.2));
          }
          .item__info {
            width: 315px;
            max-width: 315px;
            &-title {
              font-family: $titleFont;
              font-style: normal;
              font-weight: 400;
              font-size: 32px;
              line-height: 38px;
              letter-spacing: 0.32px;
              color: $blue;
            }
            &-price {
              font-family: $textFont;
              font-style: normal;
              font-weight: 400;
              font-size: 21px;
              line-height: 33px;
              color: $Yellow;
              margin: 7px 0 17px;
            }
            &-discr {
              font-family: $textFont;
              font-style: normal;
              font-weight: 400;
              font-size: 19px;
              line-height: 28px;
              color: $greyBlue;
              width: 287px;
            }
            &-condition {
              font-family: $titleFont;
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 29px;
              color: $blue;
              margin: 13px 0 27px;
              @include flexStart;
              &::before {
                content: "";
                background: url("../img/UI/circle.png");
                height: 16px;
                width: 16px;
                line-height: 120%;
                display: inline-block;
                margin-right: 10px;
                bottom: 0;
              }
            }
            &-order {
              padding: 19px 52px;
              font-family: $titleFont;
              font-style: normal;
              font-weight: 400;
              font-size: 19px;
              line-height: 28px;
              letter-spacing: 0.38px;
              color: $blue;
              border: 2px solid $Yellow;
              display: inline-block;
              background-color: $whiteBg;
              @include transition(0.3s);
              &:hover {
                @include scale(1.02);
              }
            }
          }
        }
      }
    }
  }
  &__authorAbout {
    width: 100%;
    padding: 140px 0 140px;
    background-color: $blueBg;

    .container {
      padding-top: 40px;
      @include flex-between;
      align-items: flex-start;
      flex-wrap: wrap;
      max-width: $lg;
      width: 90%;
      margin: 0 auto;

      &__author {
        width: 545px;
        min-width: 545px;
        border: 10px solid #ffca42;
        @include flexCenter;
        position: relative;

        &-img {
          @include translateXY(-40px, -40px);
          width: 100%;
          min-width: 100%;
          display: block;
        }
      }

      .info {
        @include flex-left-column;
        width: calc(605px / 1300px * 100%);
        padding: 16px 0 29px;
        &__title {
          font-family: $titleFont;
          font-style: normal;
          font-weight: 400;
          font-size: 42px;
          line-height: 50px;
          text-transform: capitalize;
          color: $blue;
          margin-top: 4px;
          &::after {
            content: "";
            width: 50px;
            height: 3px;
            background: url("../img/UI/line.png");
            display: block;
            margin: 23px 0 33px;
          }
        }
        &__subtitle {
          max-width: calc(559px / 605px * 100%);
          font-family: $textFont;
          font-style: normal;
          font-weight: 400;
          font-size: 19px;
          line-height: 34px;
          color: $greyBlue;
        }
        .rating {
          @include flex-between;
          width: 100%;
          margin: 34px 0 55px;
          height: 98px;
          &__el {
            @include flexStart;
            & + .rating__el {
              @include flexStart;
              flex-wrap: nowrap;
              flex-direction: row;
              &::before {
                content: "";
                width: 1px;
                height: 98px;
                background: url("../img/UI/verticalLine.png");
                display: inline-block;
                margin-right: 25px;
              }
            }
            &-container {
              @include flex-left-column;
              flex-wrap: nowrap;
              padding: 0 10px 0 12px;

              .rating__el-number {
                font-family: $titleFont;
                font-style: normal;
                font-weight: 400;
                font-size: 54px;
                line-height: 77px;
                color: $blue;
                margin-bottom: 1px;
              }
              .rating__el-text {
                font-family: $textFont;
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 22px;
                color: $greyBlue;
              }
            }
          }
        }
        .contact {
          width: calc(484px / 605px * 100%);
          min-width: 484px;
          background: $blue;
          padding: 15px 20px 16px;
          margin-bottom: 4px;
          @include flexStart;
          &__qrCode {
            min-width: 130px;
            width: 130px;
            @include flexCenter;
            &-img {
              width: 100%;
            }
          }
          &__card {
            @include flex-left-column;
            flex-wrap: nowrap;
            padding: 22px 0 9px 40px;

            &-name {
              font-family: $titleFont;
              font-style: normal;
              font-weight: 400;
              font-size: 22px;
              line-height: 26px;
              color: $Yellow;
            }
            .mail{
              @include flexStart;
              flex-wrap: nowrap;
              padding: 10px 0 4px;

              &__text,
              &__link{
                font-family: $textFont;
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 28px;
              color: $lightBlue;
              @include transition(0.3s);
              }
              &__text{
                margin-right: 10px;
              }
              &__link{
                letter-spacing: 0.19px;
              }

              &__link:hover{
                opacity: 0.8;
                color: white;
              }

            }
            .phone{
              @include flexStart;
              flex-wrap: nowrap;

              &__text,
              &__num{
                font-family: $textFont;
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 28px;
              color: $lightBlue;
              @include transition(0.3s);
              }
              &__text{
                margin-right: 10px;
              }
              &__num{
                letter-spacing: 0.19px;
              }

              &__num:hover{
                opacity: 0.8;
                color: white;
              }

            }

          }
        }
      }
    }
  }
}
// .header{
//   // width: 100%;
//   background-color: $brown-light;

//   &__container{
//     max-width: $lg;
//     padding: 0 100px;
//     margin: 0 auto;
//     width: 100%;
//     @include flex-between;

//     @include maxWidth(890px){
//       padding: 0 15px;
//     }

//     @include maxWidth(630px){
//       padding: 20px 10px;
//     }

//     &-logo{
//       width: 182px;
//       height: 34px;
//       min-width: 182px;
//       min-height: 34px;
//       position: relative;

//       @include maxWidth($md){
//         width: 168px;
//         height: 31px;
//         min-width: 168px;
//         min-height: 31px;
//       }

//       @include maxWidth($s){
//         width: 100px;
//         height: 19px;
//         min-width: 100px;
//         min-height: 19px;
//       }

//       .logo__img{
//         width: 100%;
//       }

//     }

//     &-menu{

//       .menu__list{
//         list-style: none;
//         display: flex;

//         &-item{
//           padding:28px 15px;
//           @include transition(0.15s);

//           @include maxWidth($md){
//             padding:20px 15px;
//           }

//           @include maxWidth(630px){
//             display: none;
//           }
//           &:hover{
//             background-color: $tomato-light;

//             .menu__list-item__link{
//               color: $white;
//             }
//           }

//           &__link{
//             text-decoration: none;
//             font-family: 'Montserrat';
//             font-style: normal;
//             font-weight: 500;
//             font-size: 20px;
//             line-height: 24px;
//             color: $black ;
//             @include transition(0.15s);
//             @include flexCenter;

//             @include maxWidth($md){
//               font-size: 16px;
//               line-height: 20px;
//             }
//           }
//         }
//       }
//     }

//     &-ui{
//       width: 102px;
//       height: 36px;
//       @include flexCenter;

//       @include maxWidth($md){
//         width: 74px;
//         height: 27px;
//       }

//       @include maxWidth($s){
//         width: 55px;
//         height: 20px;
//       }

//       .ui__link{
//         @include flexCenter;

//         & + .ui__link{
//           margin-left: 30px;

//           @include maxWidth($md){
//             margin-left: 20px;
//           }

//           @include maxWidth($s){
//             margin-left: 15px;
//           }
//         }

//         &-search,
//         &-profile{
//           width: 36px;
//           height: 36px;

//           @include maxWidth($md){
//             width: 27px;
//             height: 27px;
//           }

//           @include maxWidth($s){
//             width: 20px;
//             height: 20px;
//           }
//         }

//       }

//     }

//     &-burger {
//       display: none;
//       @include maxWidth($s){
//         width: 22px;
//         height: 20px;
//         @include flexCenter;
//       }
//     }
//   }
// }

// .main {
//   .main__container{
//     margin: 0 auto;
//     width: 100%;
//     .top-slider{
//       @include maxWidth($md){
//         height: 384px;
//         min-height: 384px;
//       }
//       .slick-dots li{
//         margin: 0;

//         &:nth-child(2){
//           margin: 0 30px;
//         }
//       }

//       .top__element {
//         position: relative;
//         height: 100%;
//         display: flex;
//         justify-content: flex-end;

//         .top__slider-img{
//           width: 100%;

//           @include maxWidth($md){
//             height: 384px;
//             min-height: 384px;
//             object-fit: cover;

//           }
//           @include maxWidth(500px){
//             object-position: -116px;

//           }

//         }

//         .top__slider-img__text{

//           position: absolute;
//           top:0;
//           padding-right: 100px;
//           padding-top: 120px;
//           text-align: center;

//           @include maxWidth(820px){
//             padding-right: 82px;
//             padding-top: 60px;
//           }

//           @include maxWidth(500px){
//             padding-right: 11px;
//             padding-top: 60px;
//           }

//           .top__slider-text{
//             font-family: 'Montserrat';
//             font-style: normal;
//             font-weight: 700;
//             font-size: 50px;
//             line-height: 61px;
//             text-align: center;
//             text-transform: uppercase;
//             color: $brown-light;
//             width: 400px;
//             margin-bottom: 50px;

//             @include maxWidth($md){
//               font-size: 26px;
//               line-height: 32px;
//               margin-bottom: 20px;
//               width: 210px;
//             }
//           }

//           .top__slider-link{
//             font-family: 'Montserrat';
//             font-style: normal;
//             font-weight: 500;
//             font-size: 18px;
//             line-height: 22px;
//             text-align: center;
//             text-transform: uppercase;
//             color: $white;

//             padding: 15px 57px;
//             text-decoration: none;
//             border: 2px solid $brown-light;
//             @include transition(0.3s);

//             @include maxWidth($md){
//               padding: 10px 27px;
//             }

//             &:hover{
//               background: $tomato-light;
//               border: 2px solid $tomato-light;
//             }
//           }

//         }

//       }
//       .slick-dots {
//         bottom: 50px;

//         @include maxWidth($md){
//           bottom: 20px;
//         }
//       }
//     }
//     .top-dots li button:before{
//       font-size: 20px;

//       @include maxWidth($md){
//         font-size: 12px;
//       }
//     }

//     .products{
//       margin: 0 auto;
//       text-align: center;
//       padding: 70px 40px;

//       @include maxWidth($md){
//         padding: 50px 7px;
//       }
//       @include maxWidth($s){
//         padding: 50px 0px;
//       }

//       &__title{
//         font-family: 'Montserrat';
//         font-style: normal;
//         font-weight: 700;
//         font-size: 32px;
//         line-height: 39px;
//         text-align: center;
//         text-transform: uppercase;
//         color: $black;
//       }

//       .slider__container{
//         @include flexCenter;
//         position: relative;

//         .left{
//           position:absolute;
//           top:46%;
//           left:0;
//           cursor: pointer;
//           width: 40px;
//           height: 74px;

//           @include maxWidth($md){
//             width: 16px;
//             height: 30px;
//           }

//           @include maxWidth($s){
//             display: none;

//           }

//           &:hover .arrow--fill{
//             fill: $tomato-light;
//           }
//         }
//         .right{
//           position:absolute;
//           top:46%;
//           right:0;
//           cursor: pointer;
//           width: 40px;
//           height: 74px;

//           @include maxWidth($md){
//             width: 16px;
//             height: 30px;
//           }

//           @include maxWidth($s){
//             display: none;
//           }

//           &:hover .arrow--fill{
//             fill: $tomato-light;
//           }
//         }

//         .arrow--fill{
//           fill: $arrow-inactive;
//         }

//       }
//       &__slider{
//         margin: 50px 0;
//         position: relative;
//         min-width: 0;
//         width: 85.7%;
//         height: 440px ;

//         .slick-dots{
//           position: relative;
//           bottom:0;

//           & li button:before{
//             color: $dot-inactive;
//             opacity:1;
//             padding: 0;
//             width: 12px;
//             height: 12px;
//           }

//           & li.slick-active button:before{
//             color: $tomato;
//             opacity:1;
//             width: 12px;
//             height: 12px;
//             font-size: 12px;

//           }
//         }

//         .slick-dots li:nth-child(2){
//           margin: 0;
//         }
//         .products__element{
//           @include flex-center-column;
//           width: 224px;
//           height: 437px;
//           padding: 20px 10px;
//           border: 1px solid #F8F1EA;
//           margin: 0 10px;
//           justify-content: flex-start;
//           position: relative;

//           @include maxWidth($s){
//             width: 299px;
//             height: 489px;
//           }

//           .element__status{
//             font-family: 'Montserrat';
//             font-style: normal;
//             font-weight: 500;
//             font-size: 10px;
//             line-height: 12px;
//             text-align: center;
//             text-transform: uppercase;
//             color: $brown-light;
//             padding: 4px 6px;
//             background-color: #F16A50;
//             position: absolute;
//             top: 0;
//             left:0;

//             &--sold{
//               color: $black;
//               background-color: $brown-light;
//             }
//           }

//           .element__img{
//             margin-bottom: 10px;

//             &-item{
//               width: 100%;
//             }
//           }

//           .element__name{
//             font-family: 'Montserrat';
//             font-style: normal;
//             font-weight: 600;
//             font-size: 16px;
//             line-height: 20px;
//             text-align: center;
//             color: $black;
//           }

//           .element__price{
//             font-family: 'Montserrat';
//             font-style: normal;
//             font-weight: 700;
//             font-size: 24px;
//             line-height: 29px;
//             text-align: center;
//             color: $black;
//             margin: 8px 0 10px;
//           }
//         }
//       }

//       .products__more{
//         width: 100%;
//         display:block;
//         @include flexCenter;
//         margin-top: 50px;

//         @include maxWidth($md){
//           margin-top: 40px;
//         }
//         @include maxWidth($s){
//           margin-top: 72px;
//         }

//       }
//       &__link{
//         @include flexCenter;
//         font-family: 'Montserrat';
//         font-style: normal;
//         font-weight: 500;
//         font-size: 18px;
//         line-height: 22px;
//         text-align: center;
//         text-transform: uppercase;
//         color: $black;
//         border: 2px solid $black;
//         padding: 15px 57px;
//         text-decoration: none;
//         @include transition(0.3s);

//         &:hover{
//           background: $tomato-light;
//           border: 2px solid $tomato-light;
//           color: $brown-light;
//         }
//         &:active{
//           @include resize(1.05);
//         }

//         @include maxWidth($md){
//           font-size: 16px;
//           line-height: 20px;
//           padding: 10px 20px;
//         }

//       }

//     }

//     .partners{
//       margin: 0 auto;
//       text-align: center;
//       padding: 70px 40px;
//       background: #F8F1EA;

//       @include maxWidth($md){
//         padding: 50px 0;
//       }

//       &__title{
//         font-family: 'Montserrat';
//         font-style: normal;
//         font-weight: 700;
//         font-size: 32px;
//         line-height: 39px;
//         text-align: center;
//         text-transform: uppercase;
//         color: $black;
//       }

//       .slider__container{
//         @include flexCenter;
//         position: relative;
//         min-width: 0;
//         height: 70px;

//         .left__partners{
//           position:absolute;
//           top:5%;
//           left:0;
//           cursor: pointer;
//           width: 40px;
//           height: 74px;

//           @include maxWidth($md){
//             width: 16px;
//             height: 30px;
//             top: 32%;
//           }

//           @include maxWidth($s){
//             display: none;
//           }

//           &:hover .arrow--fill{
//             fill: $tomato-light;
//           }
//         }
//         .right__partners{
//           position:absolute;
//           top:5%;
//           right:0;
//           cursor: pointer;
//           width: 40px;
//           height: 74px;

//           @include maxWidth($md){
//             width: 16px;
//             height: 30px;
//             top: 32%;
//           }

//           @include maxWidth($s){
//             display: none;
//           }

//           &:hover .arrow--fill{
//             fill: $tomato-light;
//           }
//         }

//         .arrow--fill{
//           fill: $arrow-inactive;
//         }

//         .partners__slider{
//           margin-top: 40px;
//           padding: 0;
//           min-width: 0;
//           width: 85.7%;
//           position: relative;

//           @include maxWidth($md){
//             width: 95%;
//           }
//           .slick-list{
//             height: 70px;
//             padding: 0;
//             min-width: 0;
//           }

//           .slick-dots{
//             position: relative;
//             bottom:0;

//             & li button:before{
//               color: #CAC2BA;

//               opacity:1;
//               padding: 0;
//               width: 12px;
//               height: 12px;
//             }

//             & li.slick-active button:before{
//               color: $tomato;
//               opacity:1;
//               width: 12px;
//               height: 12px;
//               font-size: 12px;

//             }
//           }
//           .slick-dots li:nth-child(2){
//             margin: 0;
//           }

//           .partners__slider-el{
//             width: 114px;
//             height: 35px;
//             margin: 0 10px;

//             .partners__link{
//               width: 114px;
//               overflow: visible;

//               &-img{
//                 overflow: visible;
//                 width: 114px;
//                 // height: 100%;

//                 .partners__logo{
//                   overflow: visible;

//                 }
//               }

//             }
//           }

//         }
//       }
//     }
//   }
// }

// .slick-dotted.slick-slider{
//   margin-bottom: 0;
// }

// .slick-dots li button{
//   padding: 0;
// }

// .footer{
//   background-color:$brown-dark;
//   .footer__container{
//     padding: 70px 130px 20px;
//     text-align: center;

//     @include maxWidth($md){
//       padding: 50px 60px 20px 25px;
//     }
//     @include maxWidth(500px){
//       padding: 50px 10px 30px;
//     }

//     &-top{

//       width: 100%;
//       display: flex;
//       align-items:flex-start;
//       justify-content: space-between;
//       position: relative;
//       margin-bottom: 50px;

//       @include maxWidth($md){
//         margin-bottom: 40px;
//       }
//       @include maxWidth(500px){
//         margin-bottom: 50px;

//       }

//       .footer__container-logo{
//         width: 150px;
//         height: 30px;
//         position: absolute;
//         top:0;
//         left:0;
//         @include maxWidth($md){
//           position: relative;
//         }
//         @include maxWidth(500px){
//           position: absolute;
//           left:30%;

//         }
//       }

//       .footer__container-menu{
//         margin-top: 65px;
//         text-align: left;
//         @include maxWidth($md){
//           margin-top: 0;
//         }
//         @include maxWidth(500px){
//           margin-top: 90px;
//         }
//         .menu__list{
//           list-style: none;
//           .menu__list-el{

//             & + .menu__list-el{
//               margin-top: 10px;
//             }

//             &:hover .menu__list-el__link{
//               color: $tomato-light;
//             }
//             .menu__list-el__link{
//             font-family: 'Montserrat';
//               font-style: normal;
//               font-weight: 500;
//               font-size: 20px;
//               line-height: 24px;
//               color: $brown-light;
//               text-decoration: none;

//               @include maxWidth($md){
//                 font-size: 16px;
//                 line-height: 20px;
//               }
//             }
//           }
//         }
//       }
//       .footer__container-contacts{
//         width: 331px;
//         display: flex;
//         align-items:flex-start;
//         justify-content: center;
//         flex-direction: column;
//         position: relative;

//         @include maxWidth($md){
//           width: 176px;

//         }

//         @include maxWidth(500px){
//           margin-top: 90px;
//           align-items:flex-end;
//         }

//         .contacts__title,
//         .contacts__tel{
//           font-family: 'Montserrat';
//           font-style: normal;
//           font-weight: 500;
//           font-size: 26px;
//           line-height: 32px;
//           color: $brown-light;
//           text-decoration: none;

//           @include maxWidth($md){
//             font-size: 20px;
//             line-height: 24px;
//           }

//         }
//         .contacts__socials{
//           width: 100%;
//           height: 37px;
//           margin: 48px 0 32px;
//           display: flex;
//           align-items:center;
//           justify-content: flex-start;

//           @include maxWidth($md){
//             margin: 26px 0 20px;
//             height: 20px;
//           }
//           @include maxWidth($s){
//             margin: 25px 0;
//           }

//           &-item{
//             width: 30px;
//             height: 30px;

//             @include maxWidth($md){
//               width: 20px;
//               height: 20px;
//             }

//             .socials__img{
//               width: 100%;
//               height: 100%;
//             }

//             & + .contacts__socials-item{
//               margin-left: 30px;

//               @include maxWidth($md){
//                 margin-left: 20px;
//               }

//             }

//             &:hover .socials__img--fill{
//               fill: $tomato-light;
//             }
//             &:hover .socials__img--stroke{
//               stroke: $tomato-light;
//             }
//             .socials__img--fill{
//               fill: $brown-light;
//               @include transition(0.3s);
//             }
//             .socials__img--stroke{
//               stroke: $brown-light;
//               @include transition(0.3s);
//             }
//           }
//         }
//       }
//     }
//     &-copyright{
//       font-family: 'Montserrat';
//       font-style: normal;
//       font-weight: 500;
//       font-size: 14px;
//       line-height: 17px;
//       color: $brown-light;

//       @include maxWidth(500px){
//         font-size: 12px;
//         line-height: 15px;
//       }
//     }
//   }
// }
