//Screen
$lg: 1300px;
$md: 768px;
$s: 320px;



//Colors
$black : #000000;
$white: #FFFFFF;
$blue: #1B3764;
$Yellow: #FFCA42;
$navColor: #F6F8FC;

// $brown-dark: #35312D;
// $arrow-inactive: #202020;
// $tomato: #C62100;
// $tomato-light: #F16A50;
// $brown-light: #F8F1EA;
// $dot-inactive: rgba(248, 241, 234, 0.7);
// $dark-dot-inactive: #CAC2BA;

//Fonts:
$titleFont: 'Cardo', sans-serif;
$textFont: 'Inter', sans-serif;


//Font Size:


//Font Weight





