//max-width

$desctop: 1170px;

$slider:1030px;
$header: 450px;
$marginAuto: 0 auto;

//fonts:
$TextFont:'Raleway';
$TitleFont: 'Roboto';
$buttonFont: 'Open Sans';

//fontSize
$fSTitle:60px;
$fSSubtitle: 18px;
$fSUserName:36px;
$fSUserJob:24px;
$fSUserText:14px;
$fSButton:14px;

//fontWeight
$fWTitle: 900;
$fWtSubtitle: 500;
$fWUSerJob: 400;
$fWButton: 700;

//LineHeight
$lHTitle: 110%;
$lHSubtitle: 133%;
$lHUserName: 42px;
$lHUserJob: 150%;
$lHUserText: 171%;
$lHButton: 14px;

//colors:
$sub-text: #898F8F;
$title-text:#FFCC00;
$socialsDefault:#CCCCCC;
$socialsHover:#FFCC00;
$userNameColor: #666666;
$userTextColor: #333333;
$socialsColor:#CCCCCC;
$ButtonColor: #666666;

// Transition time
$trTime: 0.3s;
//borders:
$gold-border: 1px solid #FFCC00;
$grey-border: 1px solid #666666;
